In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/dd_18/Documents/Python_para_data_science/DataScience_notes/2008.csv", nrows = 100000)

Se suele usar pd como alias para Panda y df (data frame) para la variable de la base de datos
Para que la ruta del archivo sea leida correctamente, hay que pasar los \ usados en rutas de windows a /, o agregar una r antes del string de la ruta de windows

In [3]:
df.head(10) # Permite explorar la parte superior de el df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

Es importante recordar que el indice de las filas inicia siempre desde cero

In [4]:
df.tail() # Permite explorar la parte inferior del df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.sample(frac = 1) # si queremos ver el df desordenado, frac = 1 indica que lo queremos en el 100% de nuestro df

In [6]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
34502,2008,1,13,7,1123.0,1125,1236.0,1240,WN,1632,...,6.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
50073,2008,1,18,5,1652.0,1640,1751.0,1745,WN,1522,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
43073,2008,1,16,3,732.0,730,1026.0,1015,WN,1521,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
991,2008,1,3,4,1004.0,935,1142.0,1135,WN,2639,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
85468,2008,1,29,2,1955.0,1955,2037.0,2050,WN,3758,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23506,2008,1,10,4,736.0,730,912.0,855,WN,2387,...,6.0,13.0,0,NaN,0,6.0,0.0,11.0,0.0,0.0
13367,2008,1,7,1,1621.0,1550,1924.0,1900,WN,438,...,4.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,24.0
76845,2008,1,26,6,1410.0,1410,1454.0,1500,WN,1188,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
12703,2008,1,7,1,1908.0,1905,2008.0,2005,WN,121,...,6.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
81503,2008,1,28,1,1507.0,1445,1741.0,1735,WN,802,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns # Muestra los nombres de las columnas que tenemos en una lista

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

cuando se llama un atributo de el df no se agregan parentesis, por eso es df.columns  y no df.columns(). Cuando se aplica una funcion al df si se ponen parentesis

In [8]:
df.DepTime # muestra la columna DepTime entera

34502    1123.0
50073    1652.0
43073     732.0
991      1004.0
85468    1955.0
          ...
23506     736.0
13367    1621.0
76845    1410.0
12703    1908.0
81503    1507.0
Name: DepTime, Length: 100000, dtype: float64

In [9]:
df.dtypes # muestra el tipo de variable asignado a cada columna

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [10]:
df.values #devuelve todos los datos en un array, lo que facilita hacer operaciones matriciales por ejemplo

array([[2008, 1, 13, ..., nan, nan, nan],
       [2008, 1, 18, ..., nan, nan, nan],
       [2008, 1, 16, ..., nan, nan, nan],
       ...,
       [2008, 1, 26, ..., nan, nan, nan],
       [2008, 1, 7, ..., nan, nan, nan],
       [2008, 1, 28, ..., nan, nan, nan]], dtype=object)

In [11]:
df2 = df.head(10) #crear un nuevo data frame a partir del anterior

In [13]:
df2.head(20) #muestra unicamente 10 filas y no 20 porque solo tiene 10 filas

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
29095,2008,1,12,6,903.0,910,902.0,910,WN,994,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
22232,2008,1,10,4,1055.0,1100,1152.0,1205,WN,25,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
47932,2008,1,17,4,1840.0,1840,2010.0,2010,WN,126,...,6.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
89068,2008,1,30,3,2012.0,2015,2228.0,2255,WN,2188,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
70965,2008,1,24,4,1243.0,1230,1305.0,1315,WN,717,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
42060,2008,1,16,3,1509.0,1510,1619.0,1620,WN,700,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
48415,2008,1,17,4,916.0,910,1257.0,1245,WN,3239,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
19133,2008,1,9,3,757.0,755,924.0,925,WN,640,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
63472,2008,1,22,2,1254.0,1255,1422.0,1440,WN,1349,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5046,2008,1,4,5,940.0,940,1031.0,1045,WN,1402,...,5.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN