In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/DANIELMANRIQUE/Data_science/2008.csv")

In [6]:
df["HoursDelay"] = round(df["ArrDelay"] / 60) 
# Crea columna nueva HoursDelay, la cual es una transformacion de la columna ArrDelay

In [3]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

El -0.0 se interpreta como un 0 normal al realizar operaciones, entonces no hay que preocuparse

In [4]:
# Eliminar columna
del(df["HoursDelay"])

In [7]:
df.head() # Las columnas agregadas se encuentran como la ultima columna a la derecha

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [8]:
# Borrar varias columnas a la vez
df.drop(["Diverted", "Cancelled", "Year"], axis=1)
# Se debe especificar en que eje se encuentran
#La operacion tarda un poco

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0

In [9]:
df.head() # Se puede ver que los cambios hechos no se mantienen

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [10]:
#Para mantener los cambios la funcion drop se debe instanciar 
df = df.drop(["Diverted", "Cancelled", "Year"], axis=1)

# otra alternativa es poner el atributo inplace=True
# df.drop(["Diverted", "Cancelled", "Year"], axis=1, inplace=True)
# y no habria necesidad de instanciarla

In [12]:
# drop() tambien elimina filas 
df.drop(0).head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0,1.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [14]:
df.drop(range(0,100000)).head()
# elimina las primeras 100mil filas min 39:51

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
100000,1,30,3,1936.0,1935,2258.0,2257,XE,7676,N11176,...,866,7.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100001,1,3,4,607.0,600,858.0,852,XE,7677,N14177,...,619,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
100002,1,4,5,552.0,600,849.0,852,XE,7677,N33182,...,619,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.0
100003,1,5,6,552.0,600,940.0,852,XE,7677,N17169,...,619,9.0,15.0,NaN,0.0,0.0,48.0,0.0,0.0,1.0
100004,1,7,1,637.0,600,935.0,852,XE,7677,N11181,...,619,4.0,36.0,NaN,37.0,0.0,6.0,0.0,0.0,1.0

In [2]:
#Crea dos nuevos data frames, uno de vuelos que salen de atlanta y otro de los que salen de Houston
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [8]:
# Crea un nuevo data frame de la union de los dos anteriores
newdf = dfATL.append(dfHOU)

In [4]:
newdf.Origin.head(20)

103149    ATL
103572    ATL
104019    ATL
104124    ATL
104485    ATL
104615    ATL
104873    ATL
104919    ATL
104934    ATL
104935    ATL
105371    ATL
105403    ATL
105919    ATL
106558    ATL
106766    ATL
107173    ATL
107289    ATL
107823    ATL
108407    ATL
108680    ATL
Name: Origin, dtype: object

In [5]:
newdf.Origin.tail(20)

6968509    HOU
6968510    HOU
6969092    HOU
6969093    HOU
6969682    HOU
6969683    HOU
6970271    HOU
6970272    HOU
6970853    HOU
6970854    HOU
6994819    HOU
6996076    HOU
6997326    HOU
6998622    HOU
6999939    HOU
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, dtype: object