In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/DANIELMANRIQUE/Data_science/Curso_LinkedIn/2008.csv", nrows=1e6)
# Carga un millon de datos nrows = 1e6

In [3]:
dfduplicate = df.append(df) #data frame con todos los datos duplicados

In [4]:
dfduplicate = dfduplicate.sample(frac=1) #reordenado

In [5]:
# Gestion de datos duplicados
dfclean = dfduplicate.drop_duplicates() # eliminando los datos duplicados del data frame y asignandolo a uno nuevo

In [6]:
len(dfclean) == len(df) # El numero de filas del nuevo data frame es distinto al numero de filas del original

False

In [7]:
len(dfclean) # el nuevo df tiene 4 filas menos que el original
# Estos se debe a que el original tenia en si mismo datos duplicados

999996

In [8]:
dfclean.drop_duplicates(subset= "DayofMonth") # El parametro subset le indica la columna sobre la que busca duplicados

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
960273,2008,2,27,3,653.0,700,744.0,751,HA,112,...,6.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
817128,2008,2,22,5,2244.0,2215,611.0,548,UA,238,...,5.0,19.0,0,NaN,0,0.0,23.0,0.0,0.0,0.0
361376,2008,1,11,5,1729.0,1731,1948.0,1933,FL,256,...,9.0,14.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
880343,2008,2,26,2,2310.0,2310,601.0,555,US,222,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
843438,2008,2,18,1,1749.0,1750,1859.0,1905,UA,1467,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9546,2008,1,6,7,1816.0,1800,1911.0,1900,WN,41,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
639801,2008,2,13,3,705.0,640,846.0,840,WN,1116,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
83557,2008,1,28,1,946.0,945,1107.0,1100,WN,1537,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
327049,2008,1,15,2,1723.0,1700,1928.0,1908,EV,4289,...,13.0,18.0,0,NaN,0,20.0,0.0,0.0,0.0,0.0
54640,2008,1,20,7,1210.0,1210,1238.0,1250,WN,2205,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14488,2008,1,7,1,1125.0,1030,1250.0,1210,WN,299,...,4.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,40.0
562730,2008,1,4,5,655.0,700,959.0,933,CO,1419,...,16.0,29.0,0,NaN,0,0.0,0.0,26.0,0.0,0.0
919250,2008,2,5,2,1412.0,1415,1438.0,1454,EV,4477,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
931575,2008,2,9,6,2049.0,2045,2258.0,2302,EV,4932,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
74174,2008,1,25,5,2114.0,2115,2203.0,2210,WN,1585,...,3.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
231665,2008,1,1,2,1239.0,1235,1336.0,1340,UA,459,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
436484,2008,1,17,4,1741.0,1741,1914.0,1919,NW,731,...,6.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
390166,2008,1,16,3,1357.0,1405,1452.0,1500,MQ,3503,...,1.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
937413,2008,2,24,7,1905.0,1854,2023.0,2018,F9,498,...,7.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
161686,2008,1,19,6,1720.0,1640,1905.0,1809,OH,5278,...,12.0,33.0,0,NaN,0,40.0,0.0,16.0,0.0,0.0
889321,2008,2,2,6,1453.0,1445,1646.0,1650,WN,1748,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108463,2008,1,29,2,1504.0,1320,1845.0,1455,XE,2297,...,10.0,154.0,0,NaN,0,0.0,0.0,230.0,0.0,0.0
546037,2008,1,31,4,1049.0,945,1304.0,1153,AS,394,...,3.0,17.0,0,NaN,0,64.0,0.0,7.0,0.0,0.0
597000,2008,1,8,2,743.0,717,1036.0,1023,DL,922,...,7.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
602328,2008,1,12,6,1719.0,1725,1840.0,1859,DL,1448,...,6.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
850691,2008,2,3,7,1339.0,1350,1454.0,1516,US,1079,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
551568,2008,1,10,4,756.0,805,1057.0,1112,B6,315,...,4.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
936653,2008,2,21,4,2007.0,2017,2312.0,2330,F9,224,...,9.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
864242,2008,2,14,4,2219.0,2225,2328.0,2348,US,1132,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
417205,2008,1,30,3,1425.0,1430,1536.0,1540,MQ,4618,...,5.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
464690,2008,1,23,3,1629.0,1635,1718.0,1715,9E,4785,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [9]:
#Gestion de datos faltantes
df.dropna() # se obtiene un data frame vacio porque todas las filas tienen al menos un dato faltente
# porque si el vuelo esta cancelado no tiene hora de llegada y si tiene hora de llegada no esta cancelado

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [10]:
df.dropna(thresh= 25) 
# thres especifica cuantas entradas de todas las columnas queremos que esten llenas de informacion relevante

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [11]:
df.dropna(thresh=len(df.columns)-2) # maximo dos valores faltantes

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [12]:
df.dropna(subset= ["CancellationCode"]) # con subset le especificas la columna en la que no quieres datos faltantes

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN