In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/dd_18/Documents/Python_para_data_science/DataScience_notes/2008.csv", nrows=1e6)
# Carga un millon de datos nrows = 1e6

In [2]:
dfduplicate = pd.concat([df, df])
#dfduplicate = df.append(df) #data frame con todos los datos duplicados

#NOTA: debido a que el método append fue deprecado desde pandas 2.0, se usa en su lugar la función concat()

In [3]:
dfduplicate = dfduplicate.sample(frac=1) #reordenado

In [5]:
# Gestion de datos duplicados
dfclean = dfduplicate.drop_duplicates() # eliminando los datos duplicados del data frame y asignandolo a uno nuevo

In [6]:
len(dfclean) == len(df) # El numero de filas del nuevo data frame es distinto al numero de filas del original

False

In [7]:
len(dfclean) # el nuevo df tiene 4 filas menos que el original
# Estos se debe a que el original tenia en si mismo datos duplicados

999996

In [8]:
dfclean.drop_duplicates(subset= "DayofMonth") # El parametro subset le indica la columna sobre la que busca duplicados
#Unicamente eliminará filas en las que el dato de DayofMonth esta duplicado

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
184381,2008,1,10,4,945.0,908,1035.0,959,OO,5432,...,8.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,36.0
680750,2008,2,25,1,1838.0,1835,1958.0,2000,WN,1573,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
697120,2008,2,8,5,1318.0,1300,1552.0,1540,XE,24,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
155422,2008,1,9,3,1700.0,1650,1815.0,1808,OH,5105,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
112283,2008,1,5,6,600.0,600,833.0,810,XE,2921,...,11.0,30.0,0,NaN,0,0.0,0.0,23.0,0.0,0.0
794449,2008,2,19,2,1459.0,1429,1634.0,1619,OO,6226,...,5.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,15.0
938492,2008,2,29,5,652.0,700,832.0,843,F9,868,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
341209,2008,1,2,3,1950.0,1850,1948.0,1844,EV,4755,...,2.0,26.0,0,NaN,0,60.0,0.0,4.0,0.0,0.0
860507,2008,2,11,1,2000.0,2000,2128.0,2143,US,1528,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
675835,2008,2,24,7,2043.0,2005,2143.0,2105,WN,3771,...,5.0,11.0,0,NaN,0,0.0,0.0,0.0,0.0,38.0
302260,2008,1,3,4,806.0,805,822.0,820,WN,614,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
946243,2008,2,12,2,1133.0,1117,1423.0,1412,FL,296,...,11.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
175552,2008,1,4,5,813.0,810,950.0,929,OO,6499,...,5.0,19.0,0,NaN,0,0.0,0.0,0.0,0.0,21.0
264430,2008,1,7,1,1610.0,1611,1826.0,1835,US,514,...,4.0,29.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
560417,2008,1,27,7,1929.0,1830,2121.0,2115,B6,115,...,3.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
929448,2008,2,18,1,1548.0,1545,1819.0,1809,EV,4853,...,27.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
665084,2008,2,20,3,617.0,615,837.0,850,WN,3603,...,4.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
925098,2008,2,16,6,1640.0,1645,1838.0,1847,EV,4690,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
148948,2008,1,28,1,1050.0,1100,1253.0,1318,YV,2950,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
63525,2008,1,22,2,746.0,745,1057.0,1115,WN,3857,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
367488,2008,1,21,1,1555.0,1559,1658.0,1703,FL,310,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
916594,2008,2,6,3,1633.0,1619,1734.0,1734,EV,4393,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
466006,2008,1,13,7,1421.0,1425,1542.0,1557,9E,5646,...,6.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
564096,2008,1,1,2,2051.0,2050,2329.0,2258,CO,507,...,11.0,53.0,0,NaN,0,0.0,0.0,31.0,0.0,0.0
316007,2008,1,26,6,1558.0,1330,1808.0,1556,DL,644,...,5.0,12.0,0,NaN,0,132.0,0.0,0.0,0.0,0.0
672993,2008,2,23,6,609.0,610,806.0,815,WN,799,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
305184,2008,1,17,4,1257.0,1245,1431.0,1411,DL,961,...,8.0,21.0,0,NaN,0,0.0,3.0,8.0,0.0,9.0
35726,2008,1,14,1,1208.0,1210,1439.0,1455,WN,184,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
217856,2008,1,31,4,1338.0,1106,1520.0,1236,OO,6404,...,6.0,12.0,0,NaN,0,0.0,0.0,164.0,0.0,0.0
221636,2008,1,15,2,2309.0,2310,457.0,501,UA,126,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
87600,2008,1,30,3,NaN,700,NaN,805,WN,1918,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [9]:
#Gestion de datos faltantes
df.dropna() # se obtiene un data frame vacio porque todas las filas tienen al menos un dato faltente
# porque si el vuelo esta cancelado no tiene hora de llegada y si tiene hora de llegada no esta cancelado

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [10]:
df.dropna(thresh= 25) 
# thres especifica cuantas entradas de todas las columnas queremos que esten llenas de informacion relevante

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [11]:
df.dropna(thresh=len(df.columns)-2) # maximo dos valores faltantes

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [12]:
df.dropna(subset= ["CancellationCode"]) # con subset le especificas la columna en la que no quieres datos faltantes

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN